<div class="alert-container">
  <div
    *ngFor="let alert of alerts"
    class="alert alert-{{ alert.type }} alert-dismissible fade show d-flex align-items-center"
    [@slideInOut]
    (click)="removeAlert(alert)"
    role="alert"
  >
    <i class="me-2"
       [ngClass]="{
         'bi-check-circle-fill': alert.type === 'success',
         'bi-exclamation-triangle-fill': alert.type === 'warning',
         'bi-x-circle-fill': alert.type === 'danger'
       }"
    ></i>
    <span class="ms-2">{{ alert.message }}</span>
  </div>
</div>
