<nav class="navbar navbar-expand-lg bg-secondary d-block d-lg-none shadow-sm border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/admin/inicio']"></a>
        <button class="navbar-toggler" type="button" (click)="openMenu(content)"
            style="background-color: var(--bs-white); border-color: var(--bs-secondary);">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="bg-content">
    <div class="sidebar shadow-sm border rounded-5 p-3">
        <div class="sidebar-header"></div>

        <div *ngIf="logged_user" class="d-flex flex-column mb-3 text-center  ">
            <p class="mb-2 fw-bold text-muted">Operador</p>
            <p class="mb-0 fw-bold">{{logged_user.nome}}</p>
            <p class="mb-0 text-muted">{{logged_user.documento | cpfCnpj}}</p>
        </div>

        <ul class="nav flex-column gap-2 mb-3">
            <li class="nav-item text-dark rounded shadow-sm" *ngFor="let item of menu">
                <a class="nav-link text-dark d-flex justify-content-between align-items-center"
                    (click)="$event.preventDefault() ; toggleSubmenu(item);" href="javascript:void(0)"
                    [routerLink]="!item.submenu && item?.link ? [item.link] : null">
                    <span>
                        <i [ngClass]="item.icon"></i> {{item.nome}}
                    </span>
                    <i *ngIf="item.submenu" class="bi"
                        [ngClass]="{'bi-chevron-down': item.open, 'bi-chevron-right': !item.open}"></i>
                </a>
                <!-- Submenu -->
                <ul [ngClass]="{'submenu': true, 'open': item.open}" class="nav flex-column ms-0 bg-warning-subtle">
                    <li class="nav-item text-dark" *ngFor="let subItem of item.submenu">
                        <a class="nav-link text-dark" href="javascript:void(0)" [routerLink]="[subItem.link]"
                            (click)="$event.preventDefault() ; closeCanvas();">
                            <i [ngClass]="subItem.icon"></i> {{subItem.nome}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="text-center">
            <small class="text-info">Versão {{version}}</small>
        </div>
    </div>

    <router-outlet></router-outlet>
    <button class="btn btn-warning position-fixed bottom-0 end-0 m-3" (click)="turnOnNotifications()"
        [disabled]="!isNotificationAvailables" *ngIf="navigatorSupportsNotifications">
        <i class="bi bi-bell me-2"></i> Notificações {{isNotificationRegistered ? '(Ativadas)' : ''}}
    </button>
</div>

<ng-template #content let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title">Menu</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>

    <div class="offcanvas-body">

        <div *ngIf="logged_user" class="d-flex flex-column mb-3  ">
            <p class="mb-2 fw-bold text-muted">Operador</p>
            <p class="mb-0 fw-bold">{{logged_user.nome}}</p>
            <p class="mb-0 text-muted">{{logged_user.documento | cpfCnpj}}</p>
        </div>

        <ul class="nav flex-column gap-2 mb-3">
            <li class="nav-item text-dark rounded shadow-sm" *ngFor="let item of menu">
                <a class="nav-link text-dark d-flex justify-content-between align-items-center"
                    (click)="$event.preventDefault() ; toggleSubmenu(item);" href="javascript:void(0)"
                    [routerLink]="!item.submenu && item?.link ? [item.link] : null">
                    <span>
                        <i [ngClass]="item.icon"></i> {{item.nome}}
                    </span>
                    <i *ngIf="item.submenu" class="bi"
                        [ngClass]="{'bi-chevron-down': item.open, 'bi-chevron-right': !item.open}"></i>
                </a>
                <!-- Submenu -->
                <ul [ngClass]="{'submenu': true, 'open': item.open}" class="nav flex-column ms-0 bg-warning-subtle">
                    <li class="nav-item text-dark" *ngFor="let subItem of item.submenu">
                        <a class="nav-link text-dark" href="javascript:void(0)" [routerLink]="[subItem.link]">
                            <i [ngClass]="subItem.icon"></i> {{subItem.nome}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="text-center">
            <small class="text-info">Versão {{version}}</small>
        </div>
    </div>
</ng-template>