// .table-fixed {
//     table-layout: fixed;
//     width: 100%;
// }

// .table-fixed th,
// .table-fixed td {
//     text-align: center;
//     vertical-align: middle;
// }

.accordion-body {
    padding: 0px !important;
}