<div class="text-center mb-3 fs-3 fw-bold">
  {{ displayValue }}
</div>

<div class="row g-1">
  <div [ngClass]="item === '' ? 'col-4' : (item === '0' ? 'col-4 offset-4' : 'col-4')" *ngFor="let item of numbers">
    <button *ngIf="item !== ''" type="button" class="btn btn-primary w-100"
            [disabled]="isDisabled"
            (click)="onClick(item)">
      <span *ngIf="item === 'backspace'">
        <i class="bi bi-backspace"></i>
      </span>
      <span *ngIf="item !== 'backspace'">
        {{ item }}
      </span>
    </button>
  </div>
</div>
