<div class="d-flex flex-column p-3 align-items-center">
    <div class="card p-4 shadow" style="width: 100%; max-width: 400px;">
        <h3 class="text-center mb-4 fw-bold">Login</h3>
        <form (submit)="onSubmit()" [formGroup]="form">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floating-doc" placeholder="CPF" formControlName="documento">
                <label for="floating-doc">Documento/Nome de Usuario</label>
                <div *ngIf="form.get('documento')?.invalid && form.get('documento')?.touched" class="invalid-feedback d-block">
                    Documento/Nome de Usuário é obrigatório.
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floating-password" placeholder="Senha" formControlName="senha" autocomplete="current-password">
                <label for="floating-password">Senha</label>
                <div *ngIf="form.get('senha')?.invalid && form.get('senha')?.touched" class="invalid-feedback d-block">
                    Senha é obrigatório.
                </div>
            </div>
            <inline-error [error]="error"></inline-error>
            <button type="submit" class="btn btn-primary w-100">
                <text-spinner [loading]="loading">Entrar</text-spinner>
            </button>
        </form>
    </div>
</div>