<div class="d-flex flex-column p-3 align-items-center">
    <div class="card p-4 shadow" style="width: 100%; max-width: 400px;" *ngIf="step == 1">
        <img src="/assets/imgs/logo-header-2.png" alt="logo2" class="img-fluid ">
        <hr>
        <p class="text-center mb-3">Informe o código de ativação do site</p>
        <form (submit)="onSubmitAtivacao()" [formGroup]="form_activation">
            <div class="form-floating mb-2">
                <input class="form-control" id="floating-doc" placeholder="CPF" formControlName="codigo_ativacao"
                    maxlength="6">
                <label for="floating-doc">Código de Ativação</label>
                <div *ngIf="form_activation.get('codigo_ativacao')?.invalid && form_activation.get('codigo_ativacao')?.touched"
                    class="invalid-feedback d-block">
                    Código de Ativação é obrigatório.
                </div>
            </div>
            <inline-error [error]="error"></inline-error>
            <button type="submit" class="btn btn-primary w-100">
                <text-spinner [loading]="loading_activation">Confirmar</text-spinner>
            </button>
        </form>
        <hr>
        <button class="btn btn-outline-info btn-sm" type="button" (click)="abrirModalCadastro()">
            Quero cadastrar minha empresa
        </button>
    </div>
    <div class="card p-4 shadow" style="width: 100%; max-width: 400px;" *ngIf="step == 2">
        <img src="/assets/imgs/logo-header-2.png" alt="logo2" class="img-fluid ">
        <hr>
        <h3 class="text-center fw-bold mb-3">Entrar</h3>
        <div *ngIf="sessao.empresa_ativa" class="mb-3">
            <p class="text-center mb-0 fw-bold">{{sessao.empresa_ativa?.nome}}</p>
            <p class="text-center text-muted mb-0">{{sessao.empresa_ativa?.documento | cpfCnpj}}</p>
        </div>
        <form (submit)="onSubmit()" [formGroup]="form">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floating-doc" placeholder="CPF" formControlName="documento">
                <label for="floating-doc">Nome de Usuario</label>
                <div *ngIf="form.get('documento')?.invalid && form.get('documento')?.touched"
                    class="invalid-feedback d-block">
                    Nome de Usuário é obrigatório.
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floating-password" placeholder="Senha"
                    formControlName="senha" autocomplete="current-password">
                <label for="floating-password">Senha</label>
                <div *ngIf="form.get('senha')?.invalid && form.get('senha')?.touched" class="invalid-feedback d-block">
                    Senha é obrigatório.
                </div>
            </div>
            <inline-error [error]="error"></inline-error>
            <button type="submit" class="btn btn-primary w-100">
                <text-spinner [loading]="loading">Continuar</text-spinner>
            </button>

            
        </form>
    
        <hr>
        <button (click)="clearEmpresa()" class="btn btn-outline-warning w-100">
            Entrar com outra empresa
        </button>
    </div>
</div>