.wave-image {
  overflow: hidden;
}
.wave-mask {
  display: block;
  height: 120px;
  pointer-events: none;
  z-index: 1;
}

.wave-divider-rotate {
  line-height: 0;
  overflow: hidden;
  transform: rotate(180deg); /* Inverte verticalmente */
}
.wave-divider svg {
  display: block;
  width: 100%;
  height: 80px;
}

.text-shadow-lg {
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
}
