<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="fw-bold ">Usuários</h1>
        </div>
        <div class="col-12">
            <div class="card border-0 shadow-sm">
                <form [formGroup]="form" (submit)="query()" class="p-3">
                    <div class="row row-gap-3 mb-2">
                        <div class="col-12">
                            <label for="form-label">Consultar</label>
                        </div>
                    </div>
                    <div class="row row-gap-3 mb-3">
                        <div class="col-12 col-lg-6">
                            <input type="text" class="form-control" id="buscar-input" formControlName="q"
                                placeholder="Nome">
                        </div>
                    </div>
                    <div class="d-flex flex-row gap-2">
                        <button type="submit" class="btn btn-secondary">
                            <i class="bi bi-search me-2"></i> Pesquisar
                        </button>
                        <button type="button" class="btn btn-primary" [routerLink]="['/admin/usuarios/form']">
                            <i class="bi bi-plus-lg me-2"></i> Adicionar
                        </button>
                    </div>
                </form>
                <div class="px-3 table-responsive">
                    <table-template [total]="usuarios.total" [loading]="loading" [paginacaoAtiva]="true">
                        <table class="table table-borderless table-hover border-bottom">
                            <thead class="table-dark">
                                <tr>
                                    <th>Nome</th>
                                    <th>Documento</th>
                                    <th>Perfil</th>
                                    <th class="text-end">Criação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of usuarios.lista" class="cursor-pointer"
                                    [routerLink]="['/admin/usuarios/form']" [queryParams]="{ id: item._id }">
                                    <td>{{item.nome}}</td>
                                    <td>{{item.documento | cpfCnpj}}</td>
                                    <td>{{item.empresa?.perfil?.nome || "Não definido"}}</td>
                                    <td class="text-end">
                                        {{item.criado_por?.usuario | userInfo}} {{item.criado_por?.data_hora | dateFromNow}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </table-template>

                </div>
            </div>
        </div>
    </div>
</div>